* {
    margin: auto 0;
}

body {
    box-sizing: border-box;
    background-color: paleturquoise;
    display: inline;
}

#people {
    display: flex;
    
}

.person img {
    border: solid;
    color: white;
    width: 150px;
    height: 150px;
}

.clicked-img  {
    width: 20px;
    opacity: 0.5;
    height: 20px;
    position: absolute;
    top: 0;
    right: 0;
}

.person {
    margin: 10px;
    position: relative;
}