* {
    margin: auto 0;
}

body {
    box-sizing: border-box;
    background-color: paleturquoise;
    display: inline;
}

#people {
    display: flex;
    
}


.person img {
    border: solid;
    color: white;
    width: 80px;
    height: 100px;
}
